@import 'tailwindcss';

@theme inline {
  --color-primary-bg2: #009595;
  --color-primary-bg1:#E0F7F7;
  --color-primary-fg1:#009595;
  --color-primary-bg2-hover: #007070;
  --color-primary-bg2-disabled: #99e3e3;
  --color-error-fg1: #d61e20;
  --color-neutral-fg1: #333333;
  --color-neutral-st1: #7F7F7F;
  --color-neutral-st2: #cccccc;
  --color-neutral-st3:#E6E6E6;
  --color-neutral-st2-hover: #b3b3b3;
  --color-neutral-st2-disabled: #cccccc;
  --color-neutral-bg2: #f0f0f0;
  --color-pt-info: #0172b4;
  --color-error-bg2: #d61e20;
  --color-error-bg1: #fae4e4;
  --color-error-bg2-hover: #ab181a;
  --color-error-bg2-disabled: #efa5a6;
}
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}