@import 'tailwindcss';

@theme {
  --color-primary-bg2: '#009595';
  --color-error-fg2: '#D61E20';
  --color-neutral-fg1: #333333;
  --color-neutral-st2: #cccccc;
  --color-neutral-bg2: #f0f0f0;
  --color-pt-info: #0172b4;
}
